@charset "utf-8";
/* CSS Document */

/* Tema claro */
.light-theme {

    background-color: #ffffff;
    background-image: url('https://i.imgur.com/uRX7It8.png');
    color: black;

}

/* Tema escuro */
.dark-theme {

    background-color: black;
    background-image: url('https://i.imgur.com/LGeAhv8.jpg');
    color: white;

}

#themeButton {

    background-color: transparent;
    color: rgb(255, 255, 255);
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    border-radius: 90px;
    cursor: pointer;
    border: none;
    font-weight: bold;
    align-items: center;
    margin: auto;

}

#themeButton:hover {

    transform: scale(1.05);

}

/* Estilos específicos para o tema escuro */
.dark-theme #themeButton,
.dark-theme li,
.dark-theme h1,
.dark-theme p,
.dark-theme #direitos {
    color: white;
}

/* Estilos específicos para o tema claro */
.light-theme #themeButton,
.light-theme li,
.light-theme h1,
.light-theme p,
.light-theme #direitos {
    color: black;
}

.light-theme .menu a {
    color: black;
}

.light-theme .foto1 p {
    color: black;
}

/* SCROLLBAR */

/* Firefox */

* {

    scrollbar-width: thin;
    scrollbar-color: rgb(49, 49, 49) rgb(255, 255, 255);

}

/* Chrome, Edge, e Safari */

*::-webkit-scrollbar {

    width: 12px;
}

*::-webkit-scrollbar-track {

    background: transparent;
  }
  
*::-webkit-scrollbar-thumb {

    background-color: blueviolet;
    border-radius: 20px;
    border: 1px solid white;
}

/* FIM SCROLLBAR */

body {

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(66, 66, 66);
    background-image: url('https://i.imgur.com/LGeAhv8.jpg');

}



/* MENU/HEADER */

header {

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 30px;

}

a {

    text-decoration: none;
    color: white;

}

.menu {

    text-align: center;

}

.menu ul {

    list-style: none;
    margin: 0;
    padding: 0;

}

.menu li {

    display: inline-block;
    margin-right: 20px; /* Espaçamento entre os itens do menu */

}

.menu a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    padding: 10px;
    display: block;
    font-weight: bold;
    transition: color 0.3s ease; /* Transição suave de cor */
}

.menu a:hover {
    color: #ae00ff; /* Cor desejada ao passar o mouse */
}

/* FIM MENU */

#logo {

    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 650px;
    margin-bottom: 10%;

}

#frase {

    font-size: 50px;
    border-bottom: 2.5px solid rgb(121, 61, 177);
    padding-bottom: 5px;
    width: 58%;
    margin: auto;
    margin-bottom: 15%;

}

h1 {

    text-align: center;
    color: white;
    margin-bottom: 3%;

}

.portfolio-container {

    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;


}

.portfolio-img {

    text-align: center;

}

.portfolio-img img {

    display: block;
    margin: 20px;

}


#port1 {

    border-radius: 30px;
    display: block;
    opacity: 0.6; /* Define a opacidade inicial para a imagem */
    transition: opacity 0.3s ease; /* Adiciona uma transição suave à opacidade */
    position: relative;

}

#port1,
#port1:hover {
    transition: all 1s ease;
}

#port1:hover {
    transform: scale(1.03);
    opacity: 1;
}


hr {

    transform: rotate(90deg);
    width: 43px;
    border: 1px solid blueviolet;
    margin-top: 1.65%;

}

#port2 {

    border-radius: 30px;
    display: block;
    opacity: 0.6; /* Define a opacidade inicial para a imagem */
    transition: opacity 0.3s ease; /* Adiciona uma transição suave à opacidade */
    position: relative;

}

#port2,
#port2:hover {
    transition: all 1s ease;
}

#port2:hover {
    transform: scale(1.03);
    opacity: 1;
}


#vem {

    margin-top: 1%;
    background-color: rgb(121, 61, 177);
    color: rgb(255, 255, 255);
    padding: 15px 60px;
    text-align: center;
    display: flexbox;
    flex-wrap: wrap;
    border-radius: 80px;
    cursor: pointer;
    border: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 24px;

}

#vem:hover, #vem {
    transition: all 750ms ease;
}

#vem:hover {
    transform: scale(1.06);
}

/* SOBRE MIM */

#sobre-titulo {

    margin-top: 15%;

}

.foto1 {

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;

}

.foto1 img {

    max-width: 550px;
    margin-right: 3%;
    border-width: 6px;
    border-style: solid;
    border-image: linear-gradient(to right, blueviolet, purple, rgb(176, 1, 211)) 1;

}

.foto1 p {

    width: 350px;
    color: white;

}


/* HABILIDADES */

#habilidades-titulo {

    margin-top: 15%;

}

.habilidades {

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 auto;
    max-width: 1200px;

}

.habilidades img {

    max-width: 550px;
    margin-right: 3%;

}



.habilidades p {

    width: 950px;
    color: white;
    text-align: center;

}



/* FAQ */

#faq-titulo {

    margin-top: 15%;

}

.perguntas-container{

    max-width: 980px;
    margin: 0 auto;
    margin-top: 50px;

}

.perguntas button{

    width: 100%;
    background-color: rgb(121, 61, 177);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 15px;
    border:none;
    outline: none;
    font-size: 22px;
    color: rgb(255, 255, 255);
    font-weight: 700;
    cursor: pointer;
    border-radius: 57px;

}
.perguntas p{

    font-size: 22px;
    max-height: 0;
    /* opacity: 0; */ /* Removido */
    line-height: 1.5;
    overflow: hidden;
    transition: max-height 0.6s ease; /* Alterado para animar apenas a altura */
    color: rgb(255, 255, 255);
    margin-left: 5%;
    margin-right: 5%;

}

.perguntas a {

    color: rgb(121, 61, 177);

}

.seta{

    transition: transform 0.5s ease-in;

}





/* RODAPÉ */

footer {

    margin-top: 15%;
    background-color: transparent;
    clear: both;
    padding: 28px;         
    color: rgb(250,255,250);
    font-size: 15px;
    font-family: "arial", sans-serif;
    object-fit: scale-down;
    margin-bottom: 0;
    text-align: center;
    height: 75px;

}

.icones {
    
    list-style: none;
    clear: both;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    border: 0;
    position: relative;
    left: -1%;
    gap: 15px;
    
}

#direitos {

    color: white;

}


/* TRANSMISSÕES */

iframe {

    display: flex;
    margin: auto;
    margin-top: 5%;

}

.botoes-container {

    display: flex;
    justify-content: center; /* Centralizar os botões horizontalmente */
    gap: 20px; /* Espaçamento entre os botões */

}

#sub:hover, #sub {
    transition: all 750ms ease;
}

#sub:hover {
    transform: scale(1.06);
}

#sub {

    background-color: rgb(121, 61, 177);
    color: rgb(255, 255, 255);
    padding: 15px 60px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    border-radius: 80px;
    cursor: pointer;
    border: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    margin-top: 2%;
    margin-bottom: 8%;

}


/* CONTATO */

#contato {

    font-size: 60px;
    margin-top: 5%;
    margin-bottom: 5%;

}


.contato-container {

    display: flex;
    max-width: 980px;
    width: 100%;
    height: 380px;
    background-color: rgb(121, 61, 177);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    margin: auto;

}

.contato-info {

    flex: 1;
    padding: 20px;

}

.contato-form {

    flex: 1;
    padding: 20px;
    background-color: rgb(88, 43, 129);

}

#info {

    color: white;

}

/* Ajustes para os campos de entrada */
input[type="text"],
input[type="email"],
textarea {

    width: 100%;
    padding: 8px;
    margin-top: 5%;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: transparent;
    display: block; /* Tornando-os elementos block para ocupar a largura total disponível */

}

textarea {

    margin-bottom: 8%;

}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {

    color: rgb(255, 255, 255);

}

#contato-botao {

    background-color: white;
    color: black;
    padding: 10px 15px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-size: 16px;
    width: 160px;
    margin: auto;

}

#contato-botao:hover {

    background-color: rgb(68, 67, 67);

}


/* ADAPTAÇÃO PARA TELAS */

@media only screen and (max-width: 992px) {
    .header {
        padding: 15px;
    }

    .menu {
        justify-content: center;
    }

    .menu li {
        margin-right: 15px;
    }
}

/* Estilos para telas pequenas */
@media only screen and (max-width: 768px) {
    .header {
        padding: 10px;
    }

    .menu {
        flex-direction: column;
        align-items: center;
    }

    .menu li {
        margin-bottom: 10px;
        margin-right: 0;
    }
}

@media only screen and (max-width: 600px) {
    /* Remover barra de rolagem horizontal */
    body {
        overflow-x: hidden;
    }

    /* Ajustar largura da imagem do portfólio */
    .portfolio-img img {
        width: 90%; /* Ajustar largura para ocupar 90% da largura da tela */
        max-width: 300px; /* Definir largura máxima para evitar que a imagem fique muito grande */
        height: auto; /* Permitir que a altura seja ajustada automaticamente para manter a proporção */
        margin: 10px auto; /* Centralizar a imagem horizontalmente e adicionar margem superior e inferior */
    }

    /* Ajustar a largura da logo */
    #logo {
        width: 80%; /* Definir a largura da logo para 80% da largura da tela */
        max-width: 250px; /* Definir uma largura máxima para a logo */
        margin: 0 auto; /* Centralizar a logo horizontalmente */
    }

    /* Centralizar o menu */
    .menu {
        text-align: center; /* Centralizar os itens do menu */
    }

    .menu li {
        display: inline-block; /* Alterar a exibição dos itens do menu para linha */
        margin: 0 10px; /* Adicionar margem entre os itens do menu */
    }

    .menu a {
        display: block; /* Alterar a exibição dos links para bloco */
    }
}
